@model ProyectoFinalUsuarioAdmin.Models.ConsultaPersonalizadoDocente

<h2>Detalles del Docente</h2>

<table class="table">

    <tr>
        <td><strong>Tipo de Documento:</strong></td>
        <td>@Model.TipoDocumento</td>
    </tr>
    <tr>
        <td><strong>Número de Documento:</strong></td>
        <td>@Model.NumeroDocumento</td>
    </tr>
    <tr>
        <td><strong>Nombre Completo:</strong></td>
        <td>@Model.NombreCompleto</td>
    </tr>
    <tr>
        <td><strong>Sexo:</strong></td>
        <td>@Model.sexo</td>
    </tr>
    <tr>
        <td><strong>Estado Civil:</strong></td>
        <td>@Model.EstadoCivil</td>
    </tr>
    <tr>
        <td><strong>Precio por Hora:</strong></td>
        <td>@Model.PrecioXHora</td>
    </tr>
    <tr>
        <td><strong>Telefono:</strong></td>
        <td>@Model.Telefono</td>
    </tr>
    <tr>
        <td><strong>CorreoElectronico:</strong></td>
        <td>@Model.CorreoElectronico</td>
    </tr>
    <!-- Agregar otras propiedades si es necesario -->
</table>

<!-- Puedes agregar estilos CSS o modificar la estructura HTML según tus preferencias -->
