@model ProyectoFinalUsuarioAdmin.Models.ConsultaPersonalizadoDocente

<h2>Detalles del Docente</h2>
<head>
    <link href="~/Content/DetalleDocente.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/DetalleDocente.css">
</head>
<table>
    <tr>
        <th>Tipo de Documento:</th>
        <th>Número de Documento:</th>
        <th>Nombre Completo:</th>
        <th>Sexo:</th>
        <th>Estado Civil:</th>
        <th>Precio por Hora:</th>
        <th>Telefono:</th>
        <th>CorreoElectronico:</th>
    </tr>
    <tr>
        <td>@Model.TipoDocumento</td>
        <td>@Model.NumeroDocumento</td>
        <td>@Model.NombreCompleto</td>
        <td>@Model.sexo</td>
        <td>@Model.EstadoCivil</td>
        <td>@Model.PrecioXHora</td>
        <td>@Model.Telefono</td>
        <td>@Model.CorreoElectronico</td>
    </tr>

    <!-- Agregar otras propiedades si es necesario -->
</table>

<!-- Puedes agregar estilos CSS o modificar la estructura HTML según tus preferencias -->
