@model ProyectoFinalUsuarioAdmin.Models.ModeloVistaPersonalizado

<h2>Detalles del Docente</h2>

<table class="table">

    <tr>
        <td><strong>Tipo de Documento:</strong></td>
        <td>@Model.TipoDocumento</td>
    </tr>
    <tr>
        <td><strong>Número de Documento:</strong></td>
        <td>@Model.NumeroDocumento</td>
    </tr>
    <tr>
        <td><strong>Nombre Completo:</strong></td>
        <td>@Model.NombreCompleto</td>
    </tr>
    <tr>
        <td><strong>Sexo:</strong></td>
        <td>@Model.sexo</td>
    </tr>
    <tr>
        <td><strong>Estado Civil:</strong></td>
        <td>@Model.estado</td>
    </tr>
    <tr>
        <td><strong>Direccion:</strong></td>
        <td>@Model.direccion</td>
    </tr>
    <tr>
        <td><strong>Distrito:</strong></td>
        <td>@Model.distrito</td>
    </tr>
    <tr>
        <td><strong>Provencia:</strong></td>
        <td>@Model.Provencia</td>
    </tr>
    <tr>
        <td><strong>Departamento:</strong></td>
        <td>@Model.Departamento</td>
    </tr>
    <!-- Agregar otras propiedades si es necesario -->
</table>
